<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <script src="https://kit.fontawesome.com/8ea583efc0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gray-400">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 bg-gradient-primary">
                                <div class="p-4">
                                    <p class="h4 font-weight-bold text-white">HotelKuy</p>
                                    <img src="assets/img/3Z_2011.w020.n001.856A.p30 1.png"
                                        class="mx-auto d-block img-fluid" alt="">
                                    <p class="h5 text-white text-center">Find your dream hotel room</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-left mb-4">
                                        <p class="h2 font-weight-bold text-gray-900">Login</p>
                                        <p>Welcome back! Please enter your account</p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="rounded form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Enter Email Address...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="rounded form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <div class="text-right">
                                            <a class="small font-weight-bold" href="#">Forgot Password</a>
                                        </div>
                                        <a href="index.html"
                                            class="rounded btn btn-primary btn-user btn-block mt-3 mb-2">
                                            Sign In
                                        </a>
                                    </form>
                                    <div class="text-center">
                                        <p class="small">Don't have account?
                                            <a class="font-weight-bold" href="register.html">Create an Account!</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="assets/js/sb-admin-2.min.js"></script>

</body>

</html>